# Visual Studio specific
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# JetBrains Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Publish output
[Pp]ublish/
wwwroot/

# Docker
docker-compose.override.yml
.env

# Temporary files
*.swp
*.tmp
*.bak
*.cache
*.orig

# Logs and database
*.log
*.sqlite
*.db

# Git folder lock
.gitignore.lock
